In [28]:
import pandas as pd
from scipy import stats
import numpy as np

In [29]:
df = pd.read_csv("bmi.csv")
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [30]:
df_null_sum=df.isnull().sum()
df_null_sum

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [31]:
df.dropna()

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [32]:
max_vals = np.max(np.abs(df[['Height', 'Weight']]), axis=0)
max_vals

Height    199
Weight    160
dtype: int64

In [33]:
df1 = df.copy()

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df1[['Height', 'Weight']] = sc.fit_transform(df[['Height', 'Weight']])
df1

     Gender    Height    Weight  Index
0      Male  0.247939 -0.309117      4
1      Male  1.164872 -0.587322      2
2    Female  0.920357  0.123647      4
3    Female  1.531645 -0.061823      3
4      Male -1.280283 -1.391027      3
..      ...       ...       ...    ...
495  Female -1.219155  1.452850      5
496  Female  0.859228  0.463676      4
497  Female -1.769315  0.927351      5
498    Male -1.219155 -0.340029      5
499    Male  0.186810  0.772793      5

[500 rows x 4 columns]

In [35]:
df2 = df.copy()

In [36]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
df2[['Height', 'Weight']] = sc.fit_transform(df[['Height', 'Weight']])
df2

     Gender    Height    Weight  Index
0      Male  0.576271  0.418182      4
1      Male  0.830508  0.336364      2
2    Female  0.762712  0.545455      4
3    Female  0.932203  0.490909      3
4      Male  0.152542  0.100000      3
..      ...       ...       ...    ...
495  Female  0.169492  0.936364      5
496  Female  0.745763  0.645455      4
497  Female  0.016949  0.781818      5
498    Male  0.169492  0.409091      5
499    Male  0.559322  0.736364      5

[500 rows x 4 columns]

In [37]:
df3 = df.copy()

In [38]:
from sklearn.preprocessing import MaxAbsScaler
sc = MaxAbsScaler()
df3[['Height', 'Weight']] = sc.fit_transform(df[['Height', 'Weight']])
df3

     Gender    Height   Weight  Index
0      Male  0.874372  0.60000      4
1      Male  0.949749  0.54375      2
2    Female  0.929648  0.68750      4
3    Female  0.979899  0.65000      3
4      Male  0.748744  0.38125      3
..      ...       ...      ...    ...
495  Female  0.753769  0.95625      5
496  Female  0.924623  0.75625      4
497  Female  0.708543  0.85000      5
498    Male  0.753769  0.59375      5
499    Male  0.869347  0.81875      5

[500 rows x 4 columns]

In [39]:
df4 = df.copy()

In [40]:
from sklearn.preprocessing import RobustScaler
sc = RobustScaler()
df4[['Height', 'Weight']] = sc.fit_transform(df[['Height', 'Weight']    ])
df4

     Gender    Height    Weight  Index
0      Male  0.125000 -0.178571      4
1      Male  0.660714 -0.339286      2
2    Female  0.517857  0.071429      4
3    Female  0.875000 -0.035714      3
4      Male -0.767857 -0.803571      3
..      ...       ...       ...    ...
495  Female -0.732143  0.839286      5
496  Female  0.482143  0.267857      4
497  Female -1.053571  0.535714      5
498    Male -0.732143 -0.196429      5
499    Male  0.089286  0.446429      5

[500 rows x 4 columns]

In [41]:
df = pd.read_csv("income(1) (1).csv")
df

,age,JobType,EdType,maritalstatus,occupation,relationship,race,gender,capitalgain,capitalloss,hoursperweek,nativecountry,SalStat
0,45,Private,HS-grad,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,28,United-States,"less than or equal to 50,000"
1,24,Federal-gov,HS-grad,Never-married,Armed-Forces,Own-child,White,Male,0,0,40,United-States,"less than or equal to 50,000"
2,44,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,"greater than 50,000"
3,27,Private,9th,Never-married,Craft-repair,Other-relative,White,Male,0,0,40,Mexico,"less than or equal to 50,000"
4,20,Private,Some-college,Never-married,Sales,Not-in-family,White,Male,0,0,35,United-States,"less than or equal to 50,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31973,34,Local-gov,HS-grad,Never-married,Farming-fishing,Not-in-family,Black,Male,594,0,60,United-States,"less than or equal to 50,000"
31974,34,Local-gov,Some-college,Never-married,Protective-serv,Not-in-family,White,Female,0,0,40,United-States,"less than or equal to 50,000"
31975,23,Private,Some-college,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,"less than or equal to 50,000"
31976,42,Local-gov,Some-college,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,"less than or equal to 50,000"
31977,29,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,"less than or equal to 50,000"

In [42]:
df_null_sum=df.isnull().sum()
df_null_sum

age              0
JobType          0
EdType           0
maritalstatus    0
occupation       0
relationship     0
race             0
gender           0
capitalgain      0
capitalloss      0
hoursperweek     0
nativecountry    0
SalStat          0
dtype: int64

In [43]:
# Chi Square Test
categorical_columns = ['JobType', 'EdType', 'maritalstatus', 'occupation', 'relationship', 'race', 'gender', 'nativecountry']
df[categorical_columns]

,JobType,EdType,maritalstatus,occupation,relationship,race,gender,nativecountry
0,Private,HS-grad,Divorced,Adm-clerical,Not-in-family,White,Female,United-States
1,Federal-gov,HS-grad,Never-married,Armed-Forces,Own-child,White,Male,United-States
2,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States
3,Private,9th,Never-married,Craft-repair,Other-relative,White,Male,Mexico
4,Private,Some-college,Never-married,Sales,Not-in-family,White,Male,United-States
...,...,...,...,...,...,...,...,...
31973,Local-gov,HS-grad,Never-married,Farming-fishing,Not-in-family,Black,Male,United-States
31974,Local-gov,Some-college,Never-married,Protective-serv,Not-in-family,White,Female,United-States
31975,Private,Some-college,Married-civ-spouse,Adm-clerical,Husband,White,Male,United-States
31976,Local-gov,Some-college,Married-civ-spouse,Adm-clerical,Wife,White,Female,United-States
31977,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,White,Male,United-States

In [44]:
df[categorical_columns] = df[categorical_columns].astype('category')
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.cat.codes)
df[categorical_columns]

,JobType,EdType,maritalstatus,occupation,relationship,race,gender,nativecountry
0,4,11,0,1,1,4,0,38
1,1,11,4,2,3,4,1,38
2,4,15,2,10,0,4,1,38
3,4,6,4,3,2,4,1,25
4,4,15,4,12,1,4,1,38
...,...,...,...,...,...,...,...,...
31973,2,11,4,5,1,2,1,38
31974,2,15,4,11,1,4,0,38
31975,4,15,2,1,0,4,1,38
31976,2,15,2,1,5,4,0,38
31977,4,9,4,10,1,4,1,38

In [45]:
from sklearn.feature_selection import SelectKBest, chi2, f_classif

In [46]:
X = df.drop(columns=['SalStat'])
y = df['SalStat']
k_chi2 = 6
selector_chi2 = SelectKBest(score_func=chi2, k=k_chi2)
X_new_chi2 = selector_chi2.fit_transform(X, y)
selected_features_chi2 = X.columns[selector_chi2.get_support()]
print("Selected features using chi square test")
print(selected_features_chi2)

Selected features using chi square test
Index(['age', 'maritalstatus', 'relationship', 'capitalgain', 'capitalloss',
       'hoursperweek'],
      dtype='object')

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
selected_features = ['age', 'maritalstatus', 'relationship', 'capitalgain', 'capitalloss', 'hoursperweek']
X = df[selected_features]
y = df['SalStat']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [48]:
y_pred = rf.predict(X_test)

In [49]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.8242651657285803

In [50]:
pip install skfeature-chappers

Requirement already satisfied: skfeature-chappers in c:\users\admin\.conda\envs\dl\lib\site-packages (1.1.0)
Requirement already satisfied: scikit-learn in c:\users\admin\.conda\envs\dl\lib\site-packages (from skfeature-chappers) (1.7.1)
Requirement already satisfied: pandas in c:\users\admin\.conda\envs\dl\lib\site-packages (from skfeature-chappers) (2.3.1)
Requirement already satisfied: numpy in c:\users\admin\.conda\envs\dl\lib\site-packages (from skfeature-chappers) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\.conda\envs\dl\lib\site-packages (from pandas->skfeature-chappers) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\.conda\envs\dl\lib\site-packages (from pandas->skfeature-chappers) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\.conda\envs\dl\lib\site-packages (from pandas->skfeature-chappers) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\.conda\envs\dl\lib\site-packages (from python-dateutil>=2.8.2->pandas->skfeature-chappers) (1.17.0)
Requirement already satisfied: scipy>=1.8.0 in c:\users\admin\.conda\envs\dl\lib\site-packages (from scikit-learn->skfeature-chappers) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\.conda\envs\dl\lib\site-packages (from scikit-learn->skfeature-chappers) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\.conda\envs\dl\lib\site-packages (from scikit-learn->skfeature-chappers) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [51]:
from skfeature.function.similarity_based import fisher_score

categorical_columns = ['JobType', 'EdType', 'maritalstatus', 'occupation', 'relationship', 'race', 'gender', 'nativecountry']
df[categorical_columns] = df[categorical_columns].astype('category')
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.cat.codes)
df[categorical_columns]

,JobType,EdType,maritalstatus,occupation,relationship,race,gender,nativecountry
0,4,11,0,1,1,4,0,38
1,1,11,4,2,3,4,1,38
2,4,15,2,10,0,4,1,38
3,4,6,4,3,2,4,1,25
4,4,15,4,12,1,4,1,38
...,...,...,...,...,...,...,...,...
31973,2,11,4,5,1,2,1,38
31974,2,15,4,11,1,4,0,38
31975,4,15,2,1,0,4,1,38
31976,2,15,2,1,5,4,0,38
31977,4,9,4,10,1,4,1,38

In [52]:
X = df.drop(columns=['SalStat'])
y = df['SalStat']

In [53]:
k_anova = 5
selector_anova = SelectKBest(score_func=f_classif, k=k_anova)
X_anova = selector_anova.fit_transform(X, y)

In [54]:
selected_features_anova = X.columns[selector_anova.get_support()]
print("Selected features using ANOVA")
print(selected_features_anova)

Selected features using ANOVA
Index(['age', 'relationship', 'gender', 'capitalgain', 'hoursperweek'], dtype='object')

In [55]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
df[categorical_columns] = df[categorical_columns].astype('category')
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.cat.codes)

lr = LogisticRegression()
n_features_to_select = 6
rfe = RFE(estimator=lr, n_features_to_select=n_features_to_select)
rfe = rfe.fit(X, y)

c:\Users\admin\.conda\envs\DL\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\admin\.conda\envs\DL\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\admin\.conda\envs\DL\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\admin\.conda\envs\DL\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\admin\.conda\envs\DL\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\admin\.conda\envs\DL\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(